/* add css module styles here (optional) */

.maincontainer {
    width: 100%;
    height: auto;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

.container::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}


/* Handle on hover */

.container::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}